In [1]:
# Question 1 Explain with an example each when to use a for loop and a while loop.
# Answer : The for loop is used when we already know the number of iterations, 
# which means when we know how many times a statement has to be executed.
for i in range(1,11,1):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [2]:
# With the while loop we can execute a set of statements as long as a condition is true.
n=10
while n>0:
    print(n)
    n=n-1

10
9
8
7
6
5
4
3
2
1

In [3]:
# Question  3: Create a python program to compute the electricity bill for a household.
# The per-unit charges in rupees are as follows: For the first 100 units, the user will be charged Rs. 4.5 per
# unit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user will
# be charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit.
# You are required to take the units of electricity consumed in a month from the user as input.
# Your program must pass this test case: when the unit of electricity consumed by the user in a month is
# 310, the total electricity bill should be 2250.

In [37]:
# Answer :
n=int(input("enter Month"))
k=0
if n<=100:
        k=n*4.5
elif n>=101 and n<=200:
        k=450.5+((n-100)*6)
elif n>=201 and n<=300:
        k=1050.5+((n-200)*10)
else:
        k=2050.5+((n-300)*20)
print(k)

enter Month 310

2250.5

In [40]:
#  Question Number 2:Write a python program to print the sum and product of the first 10 natural numbers using for
 # and while loop.

In [1]:

sum=0 
product=1
for i in range(1,11,1):
    sum=sum+i
    product=product*i
print(sum)
print(product)

55
3628800

In [49]:
sum1=0
n=1
product=1
while(n<11):
    sum1=sum1+n
    product=product*i
    n=n+1
print(sum1)

55

In [47]:
# Question 4 :  Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each
 # number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print
 # that list.

In [52]:
for i in range(1,101,1):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [93]:
l1=[]
for i in range(1,101,1):
    k=i**3
    if k%4==0 or k%5==0:
        l1.append(k)
print(l1)

[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

In [92]:
l2=[]
i=1
while(i<101):
    k=i**3
    if k%4==0 or k%5==0:
        l2.append(k)
    i=i+1
print(l2)

[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

In [89]:
#  5 : Write a program to filter count vowels in the below-given string.
 # string = "I want to become a data scientist"

In [95]:
string1 = "I want to become a data scientist"
count=0
for i in string1:
    if i=='a' or i=='o' or i=='u' or i=='e' or i=='i' :
        count =count+1
print(count)

11