In [2]:
# Q1. What is a database? Differentiate between SQL and NoSQL databases.
#  Answer: A database is information that is set up for easy access, management and updating.
# Computer databases typically store aggregations of data records or files that contain information, 
# such as sales transactions, customer data, financials and product information.
# difference :-
# 1) SQL databases are primarily called as Relational Databases (RDBMS);
# whereas NoSQL database are primarily called as non-relational or distributed database. 
# 2) SQL databases defines and manipulates data based structured query language (SQL). Seeing from a side this language is extremely
# powerful
# A NoSQL database has dynamic schema for unstructured data. Data is stored in many ways which means it can be document-oriented,
# column-oriented, graph-based or organized as a KeyValue store.

In [4]:
# Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
# Answer : DDL or Data Definition Language is a list of SQL queries that helps in defining database and schema structure and 
# consists of queries like CREATE,ALTER, DROP, TRUNCATE and RENAME
# 1) CREATE :
# This command is used to create a new table in SQL. The user has to give information like table name, column names, and their datatypes.
# For example :
# We need to create a table for storing Student information of a particular College. Create syntax would be as below.
# CREATE TABLE Student_info
# (
# College_Id number(2),
# College_name varchar(30),
# Branch varchar(10)
# );
# 2) Alter:This command is used to add, delete or change columns in the existing table.
# In our Student_info table, we want to add a new column for CGPA. The syntax would be as below as follows.
# ALTER TABLE Student_info
# ADD CGPA number;
# 3) TRUNCATE :This command is used to remove all rows from the table, but the structure of the table still exists.
# Example –
# The College Authority wants to remove the details of all students for new batches but wants to keep the table structure. 
# The command they can use is as follows.
# TRUNCATE TABLE Student_info
# 4) DROP :This command is used to remove an existing table along with its structure from the Database
# Example –
# If the College Authority wants to change their Database by deleting the Student_info Table. 

# DROP TABLE Student_info;

In [5]:
# Question 3:  What is DML? Explain INSERT, UPDATE, and DELETE with an example.
# A data manipulation language (DML) is a family of computer languages including commands permitting users to manipulate data in a database. 
# This manipulation involves inserting data into database tables, retrieving existing data, 
# deleting data from existing tables and modifying existing data. DML is mostly incorporated in SQL databases.
# INSERT:-
# Insert command is used to insert data into a table.
# For example, if we want to insert multiple rows to the Employee table, we can use the following command −
# Example
# Insert into Employee(Emp_id, Emp_name) values (001, “ bhanu”);
# Insert into Employee(Emp_id, Emp_name) values (002, “ hari”);
# Insert into Employee(Emp_id, Emp_name) values (003, “ bob”);
# UPDATE :-
# Update command is used to update existing data within a table.
# For example, if we want to update the name of the employee having the employee id 001, we can use the command given below −
# Example
# UPDATE Employee SET Emp_name= Ram WHERE Emp_id= 001;
# DELETE:-
# Delete command is used to delete records from a database table.
# For example, if we want to delete an entire row of employee id 002, we can use the following command −
# Example
# DELETE from Employee WHERE Emp_id=002;

In [6]:
#  QUestion 4: What is DQL? Explain SELECT with an example.
# DQL is a portion of a SQL statement that allows you to get and organise data from a database.
# You can use the SELECT command to extract data from a database in order to perform actions on it
# An SQL SELECT statement retrieves records from a database table according to clauses (for example, FROM and WHERE ) that specify criteria. 
# The syntax is: SELECT column1, column2 FROM table1, table2 WHERE column2='value';

In [7]:
# Question 5: A relational database is designed to enforce the uniqueness of primary keys by allowing only one row with a given primary key
# value in a table. Foreign keys. A foreign key is a column or a set of columns in a table whose values correspond to the values of the primary
# key in another table.

In [8]:
# Question 6: Write a python code to connect MySQL to python. Explain the cursor() and execute() method.
# import mysql.connector
# mydb=mysql.connector.connect(
#     host="localhost",
#     user="abc",
#     password="password")
# mycursor=mydb.cursor() 
# mycursor.execute("CREATE DATABASE database_name")    
# mydb.close()

# simillary for create table we use :---

# import mysql.connector
# mydb=mysql.connector.connect(
#     host="localhost",
#     user="abc",
#     password="password")
# mycursor=mydb.cursor()
# mycursor.execute("CREATE TABLE table_name")
# mydb.close()

# A cursor is an object which helps to execute the query and fetch the records from the database.
#This routine executes an SQL statement.

In [ ]:
# Question 7: Give the order of execution of SQL clauses in an SQL query.
# FROM
# ON
# OUTER
# WHERE
# GROUP BY
# HAVING
# SELECT
# DISTICT
# ORDER BY
# TOP