In [9]:
# Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.
import pandas as pd

data =[4,8,15,16,23,42]

df = pd.Series(data)

print(df)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [11]:
type(df)

pandas.core.series.Series

In [12]:
# Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
# variable print it.

In [14]:
import pandas as pd
data1=['a','b','c','d','e','f','g','h','i','k']
df=pd.Series(data1)
print(df)

0    a
1    b
2    c
3    d
4    e
5    f
6    g
7    h
8    i
9    k
dtype: object

In [15]:
# Q3. Create a Pandas DataFrame that contains the following data:
import pandas as pd
data2 = {'Name': ['Bob','Alice','Claire'],

        'Age': [30,25,27],

        'Gender':['male','Female','Claire']}
df1=pd.DataFrame(data2)
print(df1)

     Name  Age  Gender
0     Bob   30    male
1   Alice   25  Female
2  Claire   27  Claire

In [16]:
# Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.
# Pandas DataFrame, on the other hand, is a two-dimensional structure with columns and rows whose size can be changed.
# You can also think of it as a dictionary of Series objects.
# The data parameter can take any of the following data types: Dictionary
# Series: Series in pandas is one dimensional array 
# A Pandas Series is like a column in a table.
# Example if we take data and dataframe show complete data as above example but in series we see example two in list format and it is one dimensional array.

In [18]:
# Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
# you give an example of when you might use one of these functions?
# Answer: head() it show by deafault first five column in the data , tail() it show by default last five column's data, columns are used to describe 
# columns of the data. 
# For Example :
# when we have a large data set so we can use to find last or first or any columns data

In [19]:
# Q6. Which of the following is mutable in nature Series, DataFrame, Panel?
# All Pandas data structures are value mutable (can be changed) and except Series all are size mutable.

In [20]:
# Q7. Create a DataFrame using multiple Series. Explain with an example.

In [22]:
#Answer:
import pandas as pd
# Create pandas Series
courses = pd.Series(["Spark","PySpark","Hadoop"])
fees = pd.Series([22000,25000,23000])
discount  = pd.Series([1000,2300,1000])

# Combine two series.
df=pd.concat([courses,fees],axis=1)

# It also supports to combine multiple series.
df=pd.concat([courses,fees,discount],axis=1)
print(df)

         0      1     2
0    Spark  22000  1000
1  PySpark  25000  2300
2   Hadoop  23000  1000

In [23]:
import pandas as ps
course=ps.Series(['python','sql','html'])
fee=ps.Series([200,500,600])
discount=ps.Series([5,7,8])
df4=pd.concat([course,fee,discount],axis=1)
print(df)

         0      1     2
0    Spark  22000  1000
1  PySpark  25000  2300
2   Hadoop  23000  1000

In [24]:
type(df4)

pandas.core.frame.DataFrame