In [1]:
# Q1. Create a list in python using the followings: 2,3,4,5,6,7 with variable ‘a’
# Add ‘mango to the above list
# Also add banana, grapes & orange in the list
# insert apple in the 5th position of a variable ‘a’
#  Remove last item from the list

In [2]:
list1=[2,3,4,5,6,7,"a"]

In [3]:
list1.append("mango")

In [8]:
list1.append("banana")
list1.append("grapes")
list1.append("orange")

In [11]:
list1.insert(5,"apple")

In [12]:
list1.pop()

'orange'

In [13]:
list1

[2, 3, 4, 5, 6, 'apple', 7, 'a', 'mango', 'banana', 'banana', 'grapes']

In [14]:
# Q2.
# L = [1,2,3,4,5,6,7]
# Using the above list slice from 1:4

In [16]:
L = [1,2,3,4,5,6,7]
L[1:4]

[2, 3, 4]

In [17]:
# Q3. Reverse the order of given string L = [4,5,6,8,3] Without using reverse() function.

In [ ]:
L

[4, 5, 6, 8, 3]

In [27]:
L[::-1]

[3, 8, 6, 5, 4]

In [28]:
# Q4. Use list comprehension to square the given list L=[2,4,7,3,6,8]

In [29]:
L=[2,4,7,3,6,8]
[i**2 for i in L]

[4, 16, 49, 9, 36, 64]

In [30]:
# Q5. Create a function that takes in a tuple of integers and returns the sum of the integers. Test the
# function with a tuple of your choice.

In [36]:
def sum_tup(tup):
    count=0
    res=list(tup)
    for i in res:
        count=count+i
    return count
tup=(1,2,3,4,5,6,7,8)
print(sum_tup(tup))

36

In [37]:
# Q6. Create two sets of your favourite fruits, and use the union() method to combine them into a single set.
# Print the resulting set to the console.

In [41]:
fruit1={"banana","apple","grapes"}
fruit2={"mango","orange"}
combine=fruit1.union(fruit2)
print(combine)

{'apple', 'grapes', 'banana', 'mango', 'orange'}

In [42]:
# Q7. Create a set of random words, and use the add() method to add a new word to the set. Print the
# resulting set to the console.

In [45]:
set1={1,2,3,4,1,2,3,5,6}
set1.add(9)

In [46]:
set1

{1, 2, 3, 4, 5, 6, 9}

In [47]:
# Q8. Create a set of your favourite animals, and use the remove() method to remove one animal from the
# set. Print the resulting set to the console.

In [59]:
animal={"dog","cat","hourse","lion","tiger","rabbit"}
print(animal)
animal.remove("cat")

{'tiger', 'lion', 'rabbit', 'hourse', 'dog', 'cat'}

In [60]:
animal

{'dog', 'hourse', 'lion', 'rabbit', 'tiger'}

In [61]:
# Q9. favorite_books = {"1984", "To Kill a Mockingbird", "Pride and Prejudice"}
# favorite_movies = ["The Shawshank Redemption", "The Godfather", "The Dark Knight"]
# Use the zip() function to combine the book set and movie list into a list of tuples representing book/
# movie pairs. Print the resulting list.

In [67]:
favorite_books = {"1984", "To Kill a Mockingbird", "Pride and Prejudice"}
favorite_movies = ["The Shawshank Redemption", "The Godfather", "The Dark Knight"]
book_movie_pairs=list(zip(favorite_books,favorite_movies))
print(book_movie_pairs)

[('1984', 'The Shawshank Redemption'), ('To Kill a Mockingbird', 'The Godfather'), ('Pride and Prejudice', 'The Dark Knight')]

In [68]:
# Q10. Write a Python program to find the difference between consecutive numbers in a list.

In [74]:
def def_consecutive(lst):
    lst1=[]
    for i in range(1,len(lst)):
        diff=lst[i]-lst[i-1]
        lst1.append(diff)
    return lst1
lst = [5, 9, 12, 18, 22]
res=def_consecutive(lst)
print(res)

[4, 3, 6, 4]